<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th>Visits</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{#each visitors}}{{this._id}}{{/each}}</td>
    
    
      <td>{{#each visitors}}{{this.name}}{{/each}}</td>
    
    
      <td>{{#each visitors}}{{this.count}}{{/each}}</td>

    </tr>
    
    
  </tbody>
</table>