<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th>Visits</th>
    </tr>
  </thead>
  
  <tbody>
    {{#each visitors}}
    <tr>
      <td>{{this._id}}</td>
    
    
      <td>{{this.name}}</td>
    
    
      <td>{{this.count}}</td>

    </tr>
    
    {{/each}}
  </tbody>
</table>