<table>
  <thead>
      <th>Id</th>
      <th>name</th>
      <th>Visits</th>
  </thead>
  <tbody>
{{#each visitors as |value key|}}
    <tr>
      <td>{{_id}}</td>
      <td>{{name}}</td>
      <td>{{count}}</td>
    </tr>
{{/each}}
  </tbody>
</table>