<table class="table">
  <thead>

      <th scope="col">Id</th>
      <th scope="col">name</th>
      <th scope="col">Visits</th>

  </thead>
  <tbody>
    {{#each visitors}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.count}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>