<table>
  <thead>
      <th>Id</th>
      <th>name</th>
      <th>Visits</th>
  </thead>
  <tbody>
{{#each visitors as |value key|}}
      <td>{{_id}}
      <td>{{name}}
      <td>{{count}}
{{/each}}
  </tbody>
</table>