<table>
  <thead>
      <th>Id</th>
      <th>name</th>
      <th>Visits</th>
  </thead>
  <tbody>
    <td>
      {{#each visitors as |value key|}}
      {{_id}} 
      {{/each}}
    </td>
    <td>
      {{#each visitors as |value key|}}
      {{name}}
      {{/each}}
    </td>
    <td>
      {{#each visitors as |value key|}}
      {{count}}
      {{/each}}
    </td>         
  </tbody>
</table>