<table>
  <thead>
      <th>Id</th>
      <th>name</th>
      <th>Visits</th>
  </thead>
  <tbody>
{{#each visitors as |value key|}}
    <td>{{_id}} {{name}} {{count}} </td>   
{{/each}}
  </tbody>
</table>